<div class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Project Fiber", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">@Eindwerk2018.Resources.Resource.LinkSearch<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Locatie", "Index", "SearchLocatie", null, new { id = "locatie" })</li>
                <li>@Html.ActionLink("FOID", "Index", "SearchFoid", null, new { id = "FOID" })</li>
                <li>@Html.ActionLink("Kabel", "Index", "SearchKabel", null, new { id = "Kabel" })</li>
                <li>@Html.ActionLink(Eindwerk2018.Resources.Resource.LinkOther, "Index", "Other", null, new { id = "Other" })</li>

            </ul>
            </li>


            @*<li>@Html.ActionLink(Eindwerk2018.Resources.Resource.LinkSearch, "Index", "SearchLocatie")</li>*@
            <li class="dropdown">
                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">@Eindwerk2018.Resources.Resource.LinkAdd<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Locatie", "Index", "Locatie", null, new { id = "locatie" })</li>
                    <li>@Html.ActionLink("FOID", "Index", "Foid", null, new { id = "FOID" })</li>
                    <li>@Html.ActionLink("Kabel", "Index", "Kabel", null, new { id = "Kabel" })</li>
                    
                    <li>@Html.ActionLink(Eindwerk2018.Resources.Resource.LinkOther, "Index", "Other", null, new { id = "Other" })</li>
                    @*<li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                            <li class="dropdown-submenu">
                                <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level dropdown</a></li>
                                    <li><a href="#">3rd level dropdown</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>*@
                </ul>
            </li>
            </ul>
        </div>
    </div>
</div>