@*<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    @Html.ActionLink("Project Fiber", "Index", "Home", new { area = "  " }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
                
    </button>
            
        
    <div class="navbar-collapse collapse" id="navbarColor01">
        <ul class="nav navbar-nav" mr-auto>
            <li class="nav-item ">
                @Html.ActionLink("Search", "Search", "Home")
            </li>
       
            <li class="k-dropdown">
                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Add <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("Locatie", "Index", "Locatie", null, new {id = "locatie"})</li>
                    <li>@Html.ActionLink("FOID", "Index", "Foid", null, new {id = "FOID"})</li>
                    <li>@Html.ActionLink("Kabel", "Index", "Kabel", null, new {id = "Kabel"})</li>
                    <li>@Html.ActionLink("Other", "Index", "Other", null, new {id = "Other"})</li>

                </ul>
            </li>
        </ul>
    </div>
</nav>*@

<div class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Project Fiber", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Search <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Locatie", "Index", "SearchLocatie", null, new { id = "locatie" })</li>
                        <li>@Html.ActionLink("FOID", "Index", "SearchFoid", null, new { id = "FOID" })</li>
                        <li>@Html.ActionLink("Kabel", "Index", "SearchKabel", null, new { id = "Kabel" })</li>
                        <li>@Html.ActionLink("Other", "Index", "Other", null, new { id = "Other" })</li>

                    </ul>
                </li>
                

                @*<li>@Html.ActionLink("Search", "Index", "SearchLocatie")</li>*@
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Add <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Locatie", "Index", "Locatie", null, new {id = "locatie"})</li>
                        <li>@Html.ActionLink("FOID", "Index", "Foid", null, new {id = "FOID"})</li>
                        <li>@Html.ActionLink("Kabel", "Index", "Kabel", null, new {id = "Kabel"})</li>
                        <li>@Html.ActionLink("Other", "Index", "Other", null, new {id = "Other"})</li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>