 <div id="wrapper">
       
     @*mag binnenkort weg!!!!!!!!!!!!!!!!!!!!*@


     <div id="sidebar-wrapper">
         <ul class="sidebar-nav">
             @*<li class="sidebar-brand">
        <a href="#">
            Search
        </a>*@
             @*</li>*@
             @*<li>@Html.ActionLink("Lcode", "Index", "SearchLocatie")</li>*@
             <li>@Html.ActionLink("Naam", "SearchNaam", "SearchLocatie")</li>
             @*<li>@Html.ActionLink("Gps", "SearchGps", "SearchLocatie")</li>*@
             <li>@Html.ActionLink("PostCode", "SearchPostCode", "SearchLocatie")</li>
             <li>@Html.ActionLink("Plaats", "SearchPlaats", "SearchLocatie")</li>

         </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                @*<a href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Search Options</a>*@
                <button href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Search Options</button>
                @*@RenderBody()*@
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

