@model Eindwerk2018.Models.Kabel


@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LocationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Naam</h2>

<div>

    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Naam)</dt>
        <dd>@Html.DisplayFor(model => model.Naam)</dd>

        <dt>@Html.DisplayNameFor(model => model.CreatieDatum)</dt>
        <dd>@Html.DisplayFor(model => model.CreatieDatum)</dd>

        <dt>@Html.DisplayNameFor(model => model.KabelType)</dt>
        <dd>@Html.DisplayFor(model => model.KabelType.NameNL)</dd>

        <dt>@Html.DisplayNameFor(model => model.Owner)</dt>
        <dd>@Html.DisplayFor(model => model.Owner.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Reference)</dt>
        <dd>@Html.DisplayFor(model => model.Reference)</dd>
    </dl>

</div>
<p>
    <input type="button" class="btn btn-primary" value=@Eindwerk2018.Resources.Resource.LinkBack onclick="history.go(-1);" />
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit","Kabel", new {id = Model.Id })'">@Eindwerk2018.Resources.Resource.LinkEdit</button>
</p>