@model  IEnumerable<Eindwerk2018.Models.Kabel>


@{
    ViewBag.Title = "Kabel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Foid</h2>


<table id="kabels" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Reference</th>
            <th>Creatie Datum</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kabel in Model)
        {
            <tr>
                <td>@Html.ActionLink(kabel.Naam, "Details", "Kabel", new { id = kabel.Id }, null)
                <td>@kabel.Reference</td>
                <td>@kabel.CreatieDatum</td>
              
                <td>
                    <button data-foids-id="@kabel.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }


    </tbody>
</table>

<input type="button" class="btn btn-primary" value="Kabel Toevoegen" onclick="location.href='@Url.Action("New", "Kabel")'" />

@section scripts
{
    <script>
            $(document).ready(function () {
            $("#kabels").DataTable();

            $("#kabels").on("click",".js-delete", function ()
            {
                var button = $(this);
                bootbox.confirm("Ben je zeker dat de geselecteerde foid verwijderd mag worden?",
                    function (result)
                    {
                        if (result)
                        {
                            $.ajax(
                                {
                                    url: "/api/kabels/" + button.attr("data-kabel-id"),
                                    methode: "DELETE",
                                    succes: function ()
                                    {
                                        button.parents("tr").remove();
                                        console.log("succes"); // testen in console
                                    }


                                });


                        }

                    });


            });
        });

    </script>






}










