@using Eindwerk2018.Models
@model IEnumerable<Eindwerk2018.Models.Kabel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kabel</h2>

<!--<p>
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkCreate, "Create")
</p>-->
<table class="table" id="KabelTable">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Naam)</th>
        <th>@Html.DisplayNameFor(model => model.Reference)</th>
        <th>@Html.DisplayNameFor(model => model.CreatieDatum)</th>
        <th></th>
        <th></th>
    </tr>
        </thead>
        <tbody>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Naam)</td>
        <td>@Html.DisplayFor(modelItem => item.Reference)</td>
        <td>@Html.DisplayFor(modelItem => item.CreatieDatum)</td>

        <td>@Html.ActionLink("Sections", "Index", "Sectie", new { kabelId = item.Id },null)</td>
        <td>
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkEdit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = item.Id }) |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDelete, "Delete", new { id = item.Id })
        </td>
    </tr>
    }
        </tbody>   
</table>

<input type="button" class="btn btn-primary" value="Kabel Toevoegen" onclick="location.href='@Url.Action("Create", "Kabel")'" />
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#KabelTable").DataTable();

            $("#KabelTable").on("click",".js-delete", function ()
                {
                    var button = $(this);
                    bootbox.confirm("Ben je zeker dat de geselecteerde locatie verwijderd mag worden?",
                        function (result)
                        {
                            if (result)
                            {
                                $.ajax(
                                    {
                                        url: "/api/locaties/" + button.attr("data-customer-id"),
                                        methode: "DELETE",
                                        succes: function ()
                                        {
                                            button.parents("tr").remove();
                                            console.log("succes"); // testen in console
                                        }
                                    });
                            }
                        });
                });
        });
    
  
    </script>
    }