@model Eindwerk2018.Models.LocatieType

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkEdit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Eindwerk2018.Resources.Resource.LinkEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Company</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NaamNL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NaamNL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NaamNL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.NaamFR, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NaamFR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NaamFR, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DescNL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescNL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescNL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DescFR, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescFR, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescFR, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" value="Overzicht" onclick="history.go(-1);" />
            <button type="submit" class="btn btn-primary">@Eindwerk2018.Resources.Resource.LinkSave</button>
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkBackList, "Index")
</div>*@
