@model Eindwerk2018.Models.Sectie
@*not used **@

<tr>
    <td>@Html.DisplayFor(m => m.Fibers[0].FoidSerialNr)</td>
    <td>@Html.DisplayFor(m => m.OdfStartName)</td>
    <td>@Html.DisplayFor(m => m.OdfEndName)</td>
    <td>@Html.DisplayFor(m => m.KabelName)</td>
    <td>@Html.DisplayFor(m => m.SectieNr)</td>
    <td>
        @foreach (var fiber in Model.Fibers)
        {
            @Html.DropDownListFor(modelItem => fiber.FiberNr, new SelectList(Model.ListFreeFibers, "FiberNr", "FiberNr"), new { @class = "form-control" })
            <br />
        }
    </td>
</tr>