@model Eindwerk2018.ViewModels.SearchLocatieResultViewModel

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LocationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Eindwerk2018.Resources.Resource.LocationTitle</h2>

<table id="locaties" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>GPS Long</th>
            <th>GPS Lat</th>
            <th>Infrabel</th>
            <th>Bedrijf</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var locatie in Model.GezochteLocaties)
        {
            <tr>
                <td>@locatie.LocatieNaam</td>
                <td>@locatie.GpsLat</td>
                <td>@locatie.GpsLong</td>
                <td>@locatie.LocatieInfrabel</td>
                <td>@locatie.LocatieBedrijf</td>
                <td>@locatie.LocatieTypeId</td>
                <td>
                @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = locatie.Id })
                    </td>
            </tr>
        }

    </tbody>
</table>
<input type="button" class="btn btn-primary" value=@Eindwerk2018.Resources.Resource.LinkNewSearch onclick="location.href='@Url.Action("Index", "SearchLocatie")'" />
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#locaties").DataTable();

         });
    </script>
}
