@model Eindwerk2018.ViewModels.SearchLocatieViewModel
    


@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkSearch;
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/content/simple-sidebar.css" rel="stylesheet">
}

<div id="wrapper">
       
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            
            <li>@Html.ActionLink("Lcode", "Index", "SearchLocatie")</li>
            <li>@Html.ActionLink("Naam", "SearchNaam", "SearchLocatie")</li>
            @*<li>@Html.ActionLink("Gps", "SearchGps", "SearchLocatie")</li>*@
            <li>@Html.ActionLink("PostCode", "SearchPostCode", "SearchLocatie")</li>
            <li>@Html.ActionLink("Plaats", "SearchPlaats", "SearchLocatie")</li>
                        
        </ul>
    </div>
  
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h2>Locatie</h2>

            @using (Html.BeginForm("ZoekLocatie", "SearchLocatie"))
            {
   
                <div class="form-group" >
                    @Html.LabelFor(m => m.Locatie.GpsLat)
                    @Html.TextBoxFor(l => l.Locatie.GpsLat, new {@class = "form-control", id = "LocatieGpsId"})
                </div>
        
                <div class="form-group">
                    @Html.LabelFor(m => m.Locatie.GpsLong)
                    @Html.TextBoxFor(l => l.Locatie.GpsLong, new {@class = "form-control", id = "LocatieGpsId"})
                </div>
     
   
                <button type="submit" class="btn btn-primary">@Eindwerk2018.Resources.Resource.LinkSearch</button>
                 <button href="#menu-toggle" class="btn btn-primary" id="menu-toggle">Search Options</button>
            }
            
        </div>
    </div>
   
</div>

<script src="~/Scripts/jquerySideBar/jquery.min.js"></script>
@*<script src="~/Scripts/bootstrap_SideBar/js/bootstrap.bundle.min.js"></script>*@


<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
