@model Eindwerk2018.Models.Foid

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkDetails;
}

<h2>@Eindwerk2018.Resources.Resource.LinkDetails</h2>

<div>
    <h4>FOID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.CreatieDatum)</dt>
        <dd>@Html.DisplayFor(model => model.CreatieDatum)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>@Html.DisplayNameFor(model => model.RequestorId)</dt>
        <dd>@Html.DisplayFor(model => model.RequestorId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Comments)</dt>
        <dd>@Html.DisplayFor(model => model.Comments)</dd>

        <dt>@Html.DisplayNameFor(model => model.LengthCalculated)</dt>
        <dd>@Html.DisplayFor(model => model.LengthCalculated)</dd>

        <dt>@Html.DisplayNameFor(model => model.LengthOtdr)</dt>
        <dd>@Html.DisplayFor(model => model.LengthOtdr)</dd>

        <dt>@Html.DisplayNameFor(model => model.StartOdfId)</dt>
        <dd>@Html.DisplayFor(model => model.StartOdfId)</dd>

        <dt>@Html.DisplayNameFor(model => model.EndOdfId)</dt>
        <dd>@Html.DisplayFor(model => model.EndOdfId)</dd>
    </dl>

    <table class="table">
        <tr>
            <th>@Eindwerk2018.Resources.Resource.fiberFoidSerialNr</th>
            <th>@Eindwerk2018.Resources.Resource.fiberFoidKabelName</th>
            <th>@Eindwerk2018.Resources.Resource.fiberFoidSectieNr</th>
            <th>@Eindwerk2018.Resources.Resource.fiberFoidOdfStartName</th>
            <th>@Eindwerk2018.Resources.Resource.fiberFoidOdfEndName</th>
        </tr>
        @foreach (var item in Model.Fibers)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FoidSerialNr)</td>
                <td>@Html.DisplayFor(modelItem => item.KabelName)</td>
                <td>@Html.DisplayFor(modelItem => item.SectieNr)</td>
                <td>@Html.DisplayFor(modelItem => item.OdfStartName)</td>
                <td>@Html.DisplayFor(modelItem => item.OdfEndName)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkEdit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkBackList, "Index")
</p>
