@model Eindwerk2018.ViewModels.NieuweFoidViewModel

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkEdit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Moet ook in bundle config**@
<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#Foid_StartOdfName").autocomplete(
        {
            source: function (request, response)
            {
                $.ajax({
                    url: "/Odf/SearchOdfs",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Id };
                        }))
                    },
                    error: function (err) { console.log(err); } @*Change this to something usefull*@
                })
            },
            minLength: 3,
            select: function (event, ui) { $("#Foid_StartOdfId").val(ui.item.id); }
        });
        $("#Foid_EndOdfName").autocomplete(
        {
            source: function (request, response)
            {
                $.ajax({
                    url: "/Odf/SearchOdfs",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name, id: item.Id};
                        }))
                    }
                })
            },
            minLength: 3,
            select: function (event, ui) { $("#Foid_EndOdfId").val(ui.item.id); }
            });
    });
</script>

<h2>@Eindwerk2018.Resources.Resource.LinkEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>FOID</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Foid.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Foid.Id)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Foid.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Foid.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Foid.Status, new SelectList(Model.Statuses, "Id", "NameEn"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Foid.Status, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.OldStatus)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Foid.Comments, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Foid.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.RequestorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Foid.RequestorId, new SelectList(Model.Users, "Id", "FullName"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Foid.RequestorId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.LengthOtdr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Foid.LengthOtdr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Foid.LengthOtdr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.StartOdfName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Foid.StartOdfName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Foid.StartOdfName, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Foid.StartOdfId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foid.EndOdfName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Foid.EndOdfName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Foid.EndOdfName, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Foid.EndOdfId)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" value="Overzicht" onclick="history.go(-1);" />
            <button type="submit" class="btn btn-primary">@Eindwerk2018.Resources.Resource.LinkSave</button>

        </div>
    </div>

   
</div>  
}
