@model Eindwerk2018.ViewModels.AddSectieFoidViewModel

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkEdit;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int CountOfOdfs = 0;
    int LastOdfId = 0;
}

@*Moet ook in bundle config**@
<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>


<h2>@Eindwerk2018.Resources.Resource.LinkEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FOID</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Foid.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Foid.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Foid.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foid.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Foid.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foid.StartOdfName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Foid.StartOdfName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foid.EndOdfName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Foid.EndOdfName)
            </div>
        </div>

        <h4>@Eindwerk2018.Resources.Resource.SectieTitle</h4>
        <hr />

        <table class="table" id="myTable">
            <tr>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidOdfStartName</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidKabelName</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidOdfEndName</th>
            </tr>
            @for (int i = 0; i < Model.StartOdfs.Count; i++)
            {
                CountOfOdfs = i;
                LastOdfId = Model.EndOdfs[i].Id;
                <tr>
                    <td>
                        @Html.HiddenFor(model => Model.StartOdfs[i].Id)
                        @Html.DisplayFor(model => Model.StartOdfs[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Secties[i].KabelName)
                        - @Html.DisplayFor(model => model.Secties[i].SectieNr)
                    </td>
                    <td>
                        @Html.HiddenFor(model => Model.EndOdfs[i].Id)
                        @Html.DisplayFor(model => Model.EndOdfs[i].Name, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                </tr>
            }


            @{
                CountOfOdfs++;
                string CountOfOdfsStr = "sectie" + CountOfOdfs; @*Omdat het anders niet wilt schrijven*@
                if (LastOdfId == 0) { LastOdfId = Model.Foid.StartOdfId; };
            }

        </table>
    </div>
        <div class="form-group">
            <select class="form-control" id="OdfList" name="OdfList"></select>
        </div>


        <div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Eindwerk2018.Resources.Resource.LinkSave" class="btn btn-default" />
            </div>
        </div>
}

        <div>
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkBackList, "Index")
        </div>

        <script type="text/javascript">
            var next = @CountOfOdfs;
            var odfId = @LastOdfId;

        $(document).ready(function ()
        {
            //search for the correct Odfs
            //$('#OdfList').click(function() { //should always be loaded
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#OdfList").html(procemessage).show();

                $.ajax({
                    url: "/Sectie/SearchSecties",
                    type: 'POST',
                    dataType: 'json',
                    data: { 'odfId': odfId },
                    success: function(data)
                    {
                        var markup = "<option value='0'>--</option>";
                        for (var x = 0; x < data.length; x++) markup += "<option value=" + data[x].Id + ">" + data[x].KabelName + " (" + data[x].OdfEndName + ")</option>";
                        $("#OdfList").html(markup).show();
                    },
                    error: function (err)
                    {
                        console.log(err);
                        procemessage = "<option value='0'>Error Loading list</option>";
                        $("#OdfList").html(procemessage).show();
                    }
                });
            //});
        });

        $('#OdfList').change(function () {
            var sectieid = $(this).val();

            //count
            var newStartOdf = "OdfList" + next;
            var newKableName = "KabelName" + next;
            var newEndOdf = "EndOdf" + next;

            //html aanmaken
            var newIn = '<tr><td><div id="' + newStartOdf+'"></div></td>';
            newIn += '<td><div id="' + newKableName +'"></div></td>';
            newIn += '<td><div id="' + newEndOdf +'"></div></td>';
            newIn += '</tr>';


            $.ajax({
                url: "/Sectie/ReturnSectiesInfo",
                type: 'POST',
                dataType: 'json',
                data: { 'sectieId': sectieid },
                success: function (data) {
                    newIn +='<input type="hidden" name="Newsecties[]" value="'+ data.Id +'">';
                    var newInput = $(newIn);

                    //html toevoegen aan table
                    $("#myTable > tbody").append(newInput);

                    $("#" + newStartOdf).text(data.OdfStartName);
                    $("#" + newKableName).text(data.KabelName + " - "+data.SectieNr);
                    $("#" + newEndOdf).text(data.OdfEndName);
                    //odfid opnieuw instellen, ma eerst nakijken of het niet hetzelfde is (volgorde is niet altijd juist)
                    if (odfId == data.OdfStartId) odfId = data.OdfEndId;
                    else odfId = data.OdfStartId;

                    next++; //increase counter
                    //redo odf list start new funtion
                    var procemessage = "<option value='0'> Please wait...</option>";
                    $("#OdfList").html(procemessage).show();

                    $.ajax({
                        url: "/Sectie/SearchSecties",
                        type: 'POST',
                        dataType: 'json',
                        data: { 'odfId': odfId },
                        success: function (data) {
                            var markup = "<option value='0'>--</option>";
                            for (var x = 0; x < data.length; x++)
                            {//zouden moeten nakijken of EndOdfid niet gelijk is aan de OdfId dat we zoeken,(kan wel is omgedraaid zijn)
                                markup += "<option value=" + data[x].Id + ">" + data[x].KabelName + " (";
                                if (odfId == data[x].OdfStartId) markup += data[x].OdfEndName;
                                else markup += data[x].OdfStartName;
                                markup += ")</option>";
                            }
                            $("#OdfList").html(markup).show();
                        },
                        error: function (err)
                        {
                            console.log(err);
                            procemessage = "<option value='0'>Error Loading list</option>";
                            $("#OdfList").html(procemessage).show();
                        }
                    });
                },
                error: function (err) { console.log(err); }
            });
        });
        </script>
