@model Eindwerk2018.ViewModels.EditFiberSectieViewModel

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkDetails;
}

@*Moet ook in bundle config**@
<link rel="stylesheet" href="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.css" />
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
       $("#OldNrOfFibers").val($("#NrOfFibers").val());
    });
</script>

<h2>@Eindwerk2018.Resources.Resource.LinkDetails</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FOID</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Foid.Id)</dt>
            <dd>@Html.DisplayFor(model => model.Foid.Id)</dd>
            @Html.HiddenFor(model => model.Foid.Id)

            <dt>@Html.DisplayNameFor(model => model.Foid.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Foid.Name)</dd>

            <dt>@Eindwerk2018.Resources.Resource.FoidNrOfFibers</dt>
            <dd>@Html.DropDownListFor(model => model.NrOfFibers, new SelectList(new List<int> { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16 }), new { @class = "form-control", @onchange = "this.form.submit();" })</dd>
            @Html.HiddenFor(model => model.OldNrOfFibers)
        </dl>

        <table class="table">
            <tr>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidSerialNr</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidOdfStartName</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidOdfEndName</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidKabelName</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidSectieNr</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFiberNr</th>
                <th></th>
            </tr>
            @foreach (var sectie in Model.Foid.Secties)
            {
                <tr>
                    @Html.Hidden("Secties[]", sectie.Id)
                    <td>@Html.DisplayFor(m => sectie.Fibers[0].FoidSerialNr)</td>
                    <td>@Html.DisplayFor(m => sectie.OdfStartName)</td>
                    <td>@Html.DisplayFor(m => sectie.OdfEndName)</td>
                    <td>@Html.DisplayFor(m => sectie.KabelName)</td>
                    <td>@Html.DisplayFor(m => sectie.SectieNr)</td>
                    <td>
                        @foreach (var fiber in sectie.Fibers)
                        {
                            //@Html.DropDownListFor(modelItem => fiber.FiberNr, new SelectList(sectie.ListFreeFibers, "FiberNr", "FiberNr"), new { @class = "form-control" })
                            @Html.DropDownList("SectieFiber[]", new SelectList(sectie.ListFreeFibers, "FiberNr", "FiberNr", fiber.FiberNr.ToString()), new { @class = "form-control" })
                            <br />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" value="Overzicht" onclick="history.go(-1);" />
            <button type="submit" class="btn btn-primary">@Eindwerk2018.Resources.Resource.LinkSave</button>
        </div>
    </div>
}
