@model Eindwerk2018.ViewModels.NieuweFoidViewModel

@{
    ViewBag.Title = "Foid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nieuwe FOID</h2>

@using (Html.BeginForm("Create", "Foid"))
{

    <div class="form-group">

        @Html.LabelFor(m => m.Foid.Name)
        @Html.TextBoxFor(m => m.Foid.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Foid.Name)

    </div>

   
    <div class="form-group">

        @Html.LabelFor(m => m.Foid.Status)
        <br />
        <label>in gebruik</label>
        @Html.RadioButtonFor(m => m.Foid.Status, true, new { @class = "form-control" })

        <label>niet in gebruik</label>
        @Html.RadioButtonFor(m => m.Foid.Status, false, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn primary">Save</button>


    // date_creation = datetime now in controller
    // requestor xtra table?? dropbox?? of bepaald via security

}

