@using Eindwerk2018.Models
@model IEnumerable<Eindwerk2018.Models.Foid>

@{
    ViewBag.Title = "Index";
}


<h2>Foid</h2>

<!--<p>
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkCreate, "Create")
</p>-->
<table class="table" id="FoidTable">
     <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.CreatieDatum)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th>@Html.DisplayNameFor(model => model.LastStatusDate)</th>
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
        <th>@Html.DisplayNameFor(model => model.LengthCalculated)</th>
        <th>@Html.DisplayNameFor(model => model.LengthOtdr)</th>

        <th></th>
    </tr>
     </thead>
        <tbody>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.CreatieDatum)</td>
        <td>@Html.DisplayFor(modelItem => item.Status)</td>
        <td>@Html.DisplayFor(modelItem => item.LastStatusDate)</td>
        <td>@Html.DisplayFor(modelItem => item.Comments)</td>
        <td>@Html.DisplayFor(modelItem => item.LengthCalculated)</td>
        <td>@Html.DisplayFor(modelItem => item.LengthOtdr)</td>

        <td>
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkEdit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = item.Id }) |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDelete, "Delete", new { id = item.Id })
        </td>
    </tr>
    }
    </tbody> 
</table>

<input type="button" class="btn btn-primary" value="Foid Toevoegen" onclick="location.href='@Url.Action("Create", "Foid")'" />
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#FoidTable").DataTable();

            $("#FoidTable").on("click",".js-delete", function ()
                {
                    var button = $(this);
                    bootbox.confirm("Ben je zeker dat de geselecteerde locatie verwijderd mag worden?",
                        function (result)
                        {
                            if (result)
                            {
                                $.ajax(
                                    {
                                        url: "/api/locaties/" + button.attr("data-customer-id"),
                                        methode: "DELETE",
                                        succes: function ()
                                        {
                                            button.parents("tr").remove();
                                            console.log("succes"); // testen in console
                                        }
                                    });
                            }
                        });
                });
        });
    </script>
}
