
@model  IEnumerable<Eindwerk2018.Models.Foid>


@{
    ViewBag.Title = "Foid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Foid</h2>


<table id="foids" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Naam</th>
            <th>In Gebruik</th>
            <th>Creatie Datum</th>
            <th>Requestor ID</th>
            <th>Delete</th>        
        </tr>
    </thead>
    <tbody>
        @foreach (var foid in Model)
        {   

            // hier naar volgende stap ????
            <tr>
                <td>@Html.ActionLink(foid.Name, "Details", "Foid", new { id = foid.Id }, null)
                <td>@foid.Status</td>
                <td>@foid.CreatieDatum</td>
                <td>@foid.RequestorId</td>
                <td>
                    <button data-foids-id="@foid.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }


    </tbody>
</table>

<input type="button" class="btn btn-primary" value="Foid Toevoegen" onclick="location.href='@Url.Action("New", "Foid")'" />

@section scripts
{
    <script>
            $(document).ready(function () {
            $("#foids").DataTable();

            $("#foids").on("click",".js-delete", function ()
            {
                var button = $(this);
                bootbox.confirm("Ben je zeker dat de geselecteerde foid verwijderd mag worden?",
                    function (result)
                    {
                        if (result)
                        {
                            $.ajax(
                                {
                                    url: "/api/foids/" + button.attr("data-foid-id"),
                                    methode: "DELETE",
                                    succes: function ()
                                    {
                                        button.parents("tr").remove();
                                        console.log("succes"); // testen in console
                                    }


                                });


                        }

                    });


            });
        });

    </script>






}










