@model Eindwerk2018.Models.Sectie

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkDelete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Eindwerk2018.Resources.Resource.LinkDelete</h2>

<h3>@Eindwerk2018.Resources.Resource.DeleteQuestion</h3>
<div>
    <h4>@Eindwerk2018.Resources.Resource.SectieTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.KabelName)</dt>
        <dd>@Html.DisplayFor(model => model.KabelName)</dd>

        <dt>@Html.DisplayNameFor(model => model.SectieNr)</dt>
        <dd>@Html.DisplayFor(model => model.SectieNr)</dd>

        <dt>@Html.DisplayNameFor(model => model.OdfStartName)</dt>
        <dd>@Html.DisplayFor(model => model.OdfStartName)</dd>

        <dt>@Html.DisplayNameFor(model => model.OdfEndName)</dt>
        <dd>@Html.DisplayFor(model => model.OdfEndName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Lengte)</dt>
        <dd>@Html.DisplayFor(model => model.Lengte) m</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Eindwerk2018.Resources.Resource.LinkDelete" class="btn btn-default" /> |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkBackList, "Index")
        </div>
    }
</div>
