@using Eindwerk2018.Models
@model Eindwerk2018.Models.Sectie

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkDetails;
}

<h2>Details</h2>

<div>
    <h4>@Eindwerk2018.Resources.Resource.SectieTitle</h4>
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.KabelName)</dt>
        <dd>@Html.DisplayFor(model => model.KabelName)</dd>

        <dt>@Html.DisplayNameFor(model => model.SectieNr)</dt>
        <dd>@Html.DisplayFor(model => model.SectieNr)</dd>

        <dt>@Html.DisplayNameFor(model => model.OdfStartName)</dt>
        <dd>@Html.DisplayFor(model => model.OdfStartName)</dd>

        <dt>@Html.DisplayNameFor(model => model.OdfEndName)</dt>
        <dd>@Html.DisplayFor(model => model.OdfEndName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Lengte)</dt>
        <dd>@Html.DisplayFor(model => model.Lengte) m</dd>
    </dl>

    <table id="sectieTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Eindwerk2018.Resources.Resource.fiberFiberNr</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoid</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFoidName</th>
                <th>@Eindwerk2018.Resources.Resource.fiberFiberColor</th>
                <th>@Eindwerk2018.Resources.Resource.fiberModuleNr</th>
                <th>@Eindwerk2018.Resources.Resource.fiberModuleColor</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Fibers)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FiberNr)</td>
                    @if (!item.FoidName.IsEmpty())
                    {
                        <td>@Html.ActionLink(item.Foid.ToString(), "Details", "Foid", new { id = item.Foid }, null)</td>
                        <td>@Html.ActionLink(item.FoidName, "Details", "Foid", new { id = item.Foid }, null)</td>
                    }
                    else
                    {
                        <td>@Html.DisplayFor(modelItem => item.Foid)</td>
                        <td>@Html.DisplayFor(modelItem => item.FoidName)</td>
                    }

                    <td>@Html.DisplayFor(modelItem => item.FiberColor.NameEn)</td>
                    <td>@Html.DisplayFor(modelItem => item.ModuleNr)</td>
                    <td>@Html.DisplayFor(modelItem => item.ModuleColor.NameEn)</td>
                </tr>
            }
        </tbody>
    </table>


    <input type="button" class="btn btn-primary" value=@Eindwerk2018.Resources.Resource.LinkBack onclick="history.go(-1);" />
    <input type="button" class="btn btn-primary" value=@Eindwerk2018.Resources.Resource.LinkPrint onclick="location.href='@Url.Action("ReportSectie", Model)'" />
    @*target doesn't work on input or button, only on link*@
    @*@Html.ActionLink(Eindwerk2018.Resources.Resource.LinkPrint, "ReportSectie", new { id = Model.Id }, new { @target = "_blank", @class = "btn btn-primary" })*@
    @*<input type="button" class="btn btn-primary" value="Foid Toevoegen" onclick="location.href='@Url.Action("ReportSectie", "Sectie")'" />*@


    @section scripts
{
        <script>
            $(document).ready(function () {
                $("#sectieTable").DataTable({ searching: false, bInfo: false });
            });
        </script>
    }
</div>
@*<p>
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkBackList, "Index", "Sectie", new { kabelId =Model.KabelId }, null)
</p>*@