@using Eindwerk2018.Models
@model IEnumerable<Eindwerk2018.Models.Sectie>

@{
    ViewBag.Title = "Index";
}

<h2>@Eindwerk2018.Resources.Resource.SectieTitle</h2>

@*<p>
    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkCreate, "Create")
</p>*@
<table class="table table-bordered table-hover" id="sectie">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.KabelName)</th>
        <th>@Html.DisplayNameFor(model => model.SectieNr)</th>
        <th>@Html.DisplayNameFor(model => model.OdfStartName)</th>
        <th>@Html.DisplayNameFor(model => model.OdfEndName)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KabelName)</td>
                <td>@Html.DisplayFor(modelItem => item.SectieNr)</td>
                <td>@Html.DisplayFor(modelItem => item.OdfStartName)</td>
                <td>@Html.DisplayFor(modelItem => item.OdfEndName)</td>
                <td>
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = item.Id }) |
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkSplit, "Split", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>   
</table>

<input type="button" class="btn btn-primary" Value="@Eindwerk2018.Resources.Resource.LinkCreate"  onclick="location.href='@Url.Action("Create", "Sectie", new { kabelId = @ViewBag.KabelId })'" />

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#sectie").DataTable({ searching: false, bInfo: false });
        });
    </script>
}
