@model  IEnumerable<Eindwerk2018.Models.Sectie>


@{
    ViewBag.Title = "Sectie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Secties</h2>


<table id="secties" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Section Type ID</th>
            <th>Kabel ID</th>
            <th>Odf Start ID</th>
            <th>Odf Stop ID</th>
            <th>Sectie Type ID</th>
            <th>Lengte</th>
            <th>Actief</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sectie in Model)
        {
            <tr>
                @*<td>@Html.ActionLink(kabel.Naam, "Details", "Kabel", new { id = kabel.Id }, null)*@
                <td>@sectie.SectionTypeId</td>
                <td>@sectie.KabelId</td>
                <td>@sectie.OdfStartId</td>
                <td>@sectie.OdfEndId</td>
                <td>@sectie.SectionTypeId</td>
                <td>@sectie.Lengte</td>
                <td>@sectie.Active</td>
                <td>
                    <button data-secties-id="@sectie.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }


    </tbody>
</table>

<input type="button" class="btn btn-primary" value="Sectie Toevoegen" onclick="location.href='@Url.Action("New", "Sectie")'" />

@section scripts
{
    <script>
            $(document).ready(function () {
            $("#secties").DataTable();

            $("#secties").on("click",".js-delete", function ()
            {
                var button = $(this);
                bootbox.confirm("Ben je zeker dat de geselecteerde sectie verwijderd mag worden?",
                    function (result)
                    {
                        if (result)
                        {
                            $.ajax(
                                {
                                    url: "/api/secties/" + button.attr("data-sectie-id"),
                                    methode: "DELETE",
                                    succes: function ()
                                    {
                                        button.parents("tr").remove();
                                        console.log("succes"); // testen in console
                                    }


                                });


                        }

                    });


            });
        });

    </script>






}










