@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkAdd;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @Html.ActionLink("OdfType", "Search", "OdfType", null, new { id = "OdfType" })<br />
    @Html.ActionLink("Odf", "Search", "Odf")<br />
    @Html.ActionLink("FOID", "Index", "SearchFoid")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.LocationTypeTitle, "Index", "LocatieType")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.LocationTitle, "Index", "SearchLocatie")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.KabelTypeTitle, "Search", "KabelType")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.KabelTitle, "Index", "SearchKabel")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.SectieTypeTitle, "Index", "SectieType")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.SectieTitle, "Index", "Sectie")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.CompanyTitle, "Index", "Company")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.UserTitle, "Index", "User")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.ColorTitle, "Index", "Color")
</div>
