@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkAdd;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @Html.ActionLink("OdfType", "Index", "OdfType", null, new { id = "OdfType" })<br />
    @Html.ActionLink("Odf", "Index", "Odf")<br />
    @Html.ActionLink("FOID", "Index", "Foid")
</div>
<div>
    <a href="">Location Type</a>-<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.LocationTitle, "Index", "Locatie")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.KabelTypeTitle, "Index", "KabelType")<br/>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.KabelTitle, "Index", "Kabel")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.SectieTypeTitle, "Index", "SectieType")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.SectieTitle, "Index", "Sectie")
</div>
<div>
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.CompanyTitle, "Index", "Company")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.UserTitle, "Index", "User")<br />
    @Html.ActionLink(@Eindwerk2018.Resources.Resource.ColorTitle, "Index", "Color")
</div>
