@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LinkAdd;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    @Html.ActionLink("OdfType", "Index", "OdfType", null, new { id = "OdfType" })<br />
    @Html.ActionLink("Odf", "Index", "Odf", null, new { id = "Odf" })
</div>
<div>
    <a href="">Location Type</a>-<br />
    @Html.ActionLink("Locatie", "Index", "Locatie", null, new { id = "locatie" })
</div>
<div>
    <a href="">Kabel Type</a>-<br />
    @Html.ActionLink("Kabel", "Index", "Kabel", null, new { id = "Kabel" })
</div>
<div>
    @Html.ActionLink("Sectie Type", "Index", "SectieType", null, new { id = "SectieType" })<br />
    @Html.ActionLink("Sectie", "Index", "Sectie", null, new { id = "Sectie" })
</div>
<div>
    @Html.ActionLink("Company", "Index", "Company", null, new { id = "Company" })<br />
    @Html.ActionLink("User", "Index", "User", null, new { id = "User" })
</div>
