
@model Eindwerk2018.Models.Locatie
    

@{
    ViewBag.Title = "Locatie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.LocatieNaam</h2>

     <ul>

    <li>LengteGraad: @Model.GpsLong</li>
    <li>BreedteGraad: @Model.GpsLat</li>
   
        @if (Model.LocatieInfrabel == false)
        {
            <li>Bedrijf: @Model.LocatieBedrijf</li>
        }
    <li>Type: @Model.LocatieTypeId</li>
        
        </ul>
<input type="button" class="btn btn-primary" value="Foid" onclick="location.href='@Url.Action("Index", "Foid")'" />



    

