@model Eindwerk2018.Models.Locatie
    

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LocationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.LocatieNaam</h2>
   
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>
        <dt>@Html.DisplayNameFor(model => model.Lcode)</dt>
        <dd>@Html.DisplayFor(model => model.Lcode)</dd>
        <dt>@Html.DisplayNameFor(model => model.LocatieNaam)</dt>
        <dd>@Html.DisplayFor(model => model.LocatieNaam)</dd>
        <dt>@Html.DisplayNameFor(model => model.GpsLong)</dt>
        <dd>@Html.DisplayFor(model => model.GpsLong)</dd>
        <dt>@Html.DisplayNameFor(model => model.GpsLat)</dt>
        <dd>@Html.DisplayFor(model => model.GpsLat)</dd>

        <dt>@Html.DisplayNameFor(model => model.LijnNr)</dt>
        <dd>@Html.DisplayFor(model => model.LijnNr)</dd>

        <dt>@Html.DisplayNameFor(model => model.BK)</dt>
        <dd>@Html.DisplayFor(model => model.BK)</dd>

        <dt>@Html.DisplayNameFor(model => model.LocatieInfrabel)</dt>
        <dd>@Html.DisplayFor(model => model.LocatieInfrabel)</dd>
        <dt>@Html.DisplayNameFor(model => model.LocatieBedrijf)</dt>
        <dd>@Html.DisplayFor(model => model.LocatieBedrijf)</dd>
        <dt>@Html.DisplayNameFor(model => model.Straat)</dt>
        <dd>@Html.DisplayFor(model => model.Straat)</dd>
        <dt>@Html.DisplayNameFor(model => model.HuisNr)</dt>
        <dd>@Html.DisplayFor(model => model.HuisNr)</dd>
        <dt>@Html.DisplayNameFor(model => model.Plaats)</dt>
        <dd>@Html.DisplayFor(model => model.Plaats)</dd>
        <dt>@Html.DisplayNameFor(model => model.LocatieTypeId)</dt>
        <dd>@Html.DisplayFor(model => model.LocatieTypeId)</dd>
    </dl>
   
</div>
<input type="button" class="btn btn-primary" value="Overzicht" onclick="history.go(-1);" />

<script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = {
            zoom: 8,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    }

    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
        document.body.appendChild(script);
    }

    window.onload = loadScript;


</script>