@model  IEnumerable<Eindwerk2018.Models.Locatie>
    

@{
    ViewBag.Title = Eindwerk2018.Resources.Resource.LocationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Eindwerk2018.Resources.Resource.LocationTitle</h2>


    <table id="locaties" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Naam</th>
            <th>GPS Long</th>
            <th>GPS Lat</th>
            <th>Infrabel</th>
            <th>Bedrijf</th>
            <th>Type</th>
            <th></th>      
        </tr>
        </thead>
        <tbody>
        @foreach (var locatie in Model)
        { 
        <tr>
            <td>@locatie.LocatieNaam</td>
            <td>@locatie.GpsLat</td>
            <td>@locatie.GpsLong</td>
            <td>@locatie.LocatieInfrabel</td>
            <td>@locatie.LocatieBedrijf</td>
            <td>@locatie.LocatieTypeId</td>
            <td>
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkEdit, "Edit", new { id = locatie.Id } ) |
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = locatie.Id }) |
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDelete, "Delete", new { id = locatie.Id })
            </td>
        </tr> 
        }
        </tbody>    
    </table>    

<input type="button" class="btn btn-primary" value=@Eindwerk2018.Resources.Resource.LinkCreate2 onclick="location.href='@Url.Action("New", "Locatie")'" />
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#locaties").DataTable();
        });
    </script>
}
