@using Eindwerk2018.Models
@model IEnumerable<Eindwerk2018.Models.SectieType>

@{
    ViewBag.Title = "Index";
}


<h2>@Eindwerk2018.Resources.Resource.SectieTypeTitle</h2>


<table id="sectieType" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Naam)</th>
        <th>@Html.DisplayNameFor(model => model.Beschrijving)</th>
        <th>@Html.DisplayNameFor(model => model.Virtueel)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Naam)</td>
        <td>@Html.DisplayFor(modelItem => item.Beschrijving)</td>
        <td>@Html.DisplayFor(modelItem => item.Virtueel)</td>
        <td>
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkEdit, "Edit", new { id = item.Id }) |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = item.Id }) |
            @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDelete, "Delete", new { id = item.Id })
        </td>
    </tr>
    }
    </tbody>
</table>
<input type="button" class="btn btn-primary" value=@Eindwerk2018.Resources.Resource.LinkCreate2 onclick="location.href='@Url.Action("Create", "KabelType")'" />

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#sectieType").DataTable();

        });
    </script>
}
    