@model IEnumerable<Eindwerk2018.Models.Odf>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkCreate, "Create")
    </p>
*@
<table class="table table-bordered table-hover" id="odfTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th>@Html.DisplayNameFor(model => model.OdfType)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Location.LocatieNaam)</td>
                <td>@Html.DisplayFor(modelItem => item.OdfType.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                <td>
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkEdit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDetails, "Details", new { id = item.Id }) |
                    @Html.ActionLink(Eindwerk2018.Resources.Resource.LinkDelete, "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="button" class="btn btn-primary" Value="@Eindwerk2018.Resources.Resource.LinkCreate" onclick="location.href='@Url.Action("Create", "Odf")'" />

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#odfTable").DataTable({ searching: false, bInfo: false });

            //$("#odfs").on("click", ".js-delete", function () {
            //    var button = $(this);
            //    bootbox.confirm("Ben je zeker dat de geselecteerde locatie verwijderd mag worden?",
            //        function (result)
            //        {
            //            if (result)
            //            {
            //                $.ajax(
            //                    {
            //                        url: "/api/locaties/" + button.attr("data-customer-id"),
            //                        methode: "DELETE",
            //                        succes: function () {
            //                            button.parents("tr").remove();
            //                            console.log("succes"); // testen in console
            //                        }
            //                    });
            //            }
            //        });
            //});
        });
    </script>
}
